# Random Forest API

Hello, stranger!

My name is Felipe Viacava and I'm a Data Science student.

This project is my first attempt at building a Machine Learning API from scratch. The API is meant to be deployed, and then used interactively so people can input the data in my own website and predict wheter they would've survived the Titanic disaster or not.

The train dataset can be found at:

https://www.kaggle.com/competitions/titanic

Since this is meant to be used interactively, I decided to make the dataset simpler and deliberatly discarded the following columns 'PassengerId','Name','Fare','Cabin','Embarked' and 'Ticket'. This way, users will need to input very little data. The model built may end up not being very accurate, but the focus here is its deployment and usability.

In [1]:
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestClassifier
import pickle

Survived: 1 if the passenger survived, else 0

Pclass: Class in which the passanger was traveling

Age: Passanger's age

SibSp: Number of siblings/spouses the passenger had onboard

Parch: Number of parents/children the passenger had onboard

In [2]:
df = pd.read_csv('train.csv')

df = df.drop(['PassengerId','Name','Fare','Cabin','Embarked','Ticket'],axis=1)
df.head()

   Survived  Pclass     Sex   Age  SibSp  Parch
0         0       3    male  22.0      1      0
1         1       1  female  38.0      1      0
2         1       3  female  26.0      0      0
3         1       1  female  35.0      1      0
4         0       3    male  35.0      0      0

In [3]:
for col in df.columns:
    print(f"{col} has {df[col].isnull().sum()} missing values")

Survived has 0 missing values
Pclass has 0 missing values
Sex has 0 missing values
Age has 177 missing values
SibSp has 0 missing values
Parch has 0 missing values

In [4]:
df = df[df['Age'].notna()==True]

for col in df.columns:
    print(f"{col} has {df[col].isnull().sum()} missing values")

Survived has 0 missing values
Pclass has 0 missing values
Sex has 0 missing values
Age has 0 missing values
SibSp has 0 missing values
Parch has 0 missing values

In [5]:
df['female'] = df['Sex'].apply(lambda sex: 1 if sex == 'female' else 0)

df['1Class'] = df['Pclass'].apply(lambda pclass: 1 if pclass==1 else 0)
df['2Class'] = df['Pclass'].apply(lambda pclass: 1 if pclass==2 else 0)

df = df.drop(['Sex','Pclass'],axis=1)

In [6]:
df

     Survived   Age  SibSp  Parch  female  1Class  2Class
0           0  22.0      1      0       0       0       0
1           1  38.0      1      0       1       1       0
2           1  26.0      0      0       1       0       0
3           1  35.0      1      0       1       1       0
4           0  35.0      0      0       0       0       0
..        ...   ...    ...    ...     ...     ...     ...
885         0  39.0      0      5       1       0       0
886         0  27.0      0      0       0       0       1
887         1  19.0      0      0       1       1       0
889         1  26.0      0      0       0       1       0
890         0  32.0      0      0       0       0       0

[714 rows x 7 columns]

In [7]:
x = df.drop(['Survived'],axis=1).values
y = df['Survived'].values

In [8]:
clf = RandomForestClassifier()
clf.fit(x,y)

RandomForestClassifier()

In [9]:
with open('model.pickle', 'wb') as f:
    pickle.dump(clf, f)